<html><head>
    <title>Target: Omnicalc-1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>

    <h1>
  Random Results
</h1>

<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    <%= @mini %>
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    <%= @maxi %>
  </dd>

  <dt>
    Random Number
  </dt>
  <dd>
    <%= @result %>
  </dd>
</dl>

<a href="/random/new">
  Pick another random number
</a>

  

</body><style>
@media print {
  #simplifyJobsContainer {
    display: none;
  }
}
</style><div id="simplifyJobsContainer" style="position: absolute; top: 0px; left: 0px; width: 0px; height: 0px; overflow: visible; z-index: 2147483647;"><span></span></div><script id="simplifyJobsPageScript" src="chrome-extension://pbanhockgagggenencehbnadejlgchfc/js/pageScript.bundle.js"></script></html>
